<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <span sec:authentication="name"></span>
            <span class="text-secondary"> with roles [</span>
            <span th:text="${#strings.listJoin(
            #authentication.authorities.?[authority.startsWith('ROLE_')].![authority.replace('ROLE_','')],
            ', '
      )}"></span>
            <span class="text-secondary">]</span>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="m-0">
                        <button type="submit" class="nav-link btn btn-link p-0">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>